@page "/"

<h1 style="margin-bottom:20px;">🌍 EcoMonitor</h1>

<p style="margin-bottom:30px;">
    Transformando pequenas ações em grande impacto ambiental.
</p>

<div class="container-cards">
    <EcoStatus Titulo="Reciclagem de Plástico" Peso="1" />
    <EcoStatus Titulo="Descarte de Eletrônicos" Peso="5" />
    <EcoStatus Titulo="Plantio de Árvores" Peso="10" />
</div>